@using TheCoreTutorial.ViewModels.Home
@model HomeViewModel
<!DOCTYPE html>
<html class="side-header">
<head>

	<!-- Basic -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>@ViewBag.Title Porto - Responsive HTML5 Template 7.6.0</title>

	<meta name="keywords" content="HTML5 Template" />
	<meta name="description" content="Porto - Responsive HTML5 Template">
	<meta name="author" content="okler.net">

	<!-- Favicon -->
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
	<link rel="apple-touch-icon" href="img/apple-touch-icon.png">

	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

	<!-- Web Fonts  -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">

	<link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/vendor/fontawesome-free/css/all.min.css">
	<link rel="stylesheet" href="~/vendor/animate/animate.min.css">
	<link rel="stylesheet" href="~/vendor/simple-line-icons/css/simple-line-icons.min.css">
	<link rel="stylesheet" href="~/vendor/owl.carousel/assets/owl.carousel.min.css">
	<link rel="stylesheet" href="~/vendor/owl.carousel/assets/owl.theme.default.min.css">
	<link rel="stylesheet" href="~/vendor/magnific-popup/magnific-popup.min.css">
	@*Styles.Render("~/VendorMain")*@
	<link rel="stylesheet" href="~/css/theme.css">
	<link rel="stylesheet" href="~/css/theme-elements.css">
	<link rel="stylesheet" href="~/css/theme-blog.css">
	<link rel="stylesheet" href="~/css/theme-shop.css">
	@*Styles.Render("~/CSS")*@
	<link rel="stylesheet" href="~/vendor/rs-plugin/css/settings.css">
	<link rel="stylesheet" href="~/vendor/rs-plugin/css/layers.css">
	<link rel="stylesheet" href="~/vendor/rs-plugin/css/navigation.css">
	@*Styles.Render("~/VendorRS")*@
	<!-- Demo CSS -->
	<link rel="stylesheet" href="~/css/skins/default.css">
	<link rel="stylesheet" href="~/css/custom.css">
	@*Styles.Render("~/CSSSkinsAndCustom")*@
	<script src="~/vendor/modernizr/modernizr.min.js"></script>
	@*Scripts.Render("~/VendorModernizr")*@
</head>
<body class="loading-overlay-showing" data-plugin-page-transition data-loading-overlay data-plugin-options="{'hideDelay': 500}">
	<div class="body">
		@Html.Partial("_PartialPageHomeLeft")

		<div role="main" class="main">

			<section class="section border-0 m-0 py-3 py-lg-5">

				<div class="container py-md-4" style="max-width:1500px;padding-top:1.50rem!important">



					@RenderBody()

					@Html.Partial("_PartialPageHomeFooter")



				</div>

			</section>

		</div>

		@Html.Partial("~/Views/_PartialPageCoreFooter.cshtml", Model)

	</div>

	<script src="~/vendor/jquery/jquery.min.js"></script>
	<script src="~/vendor/jquery.appear/jquery.appear.min.js"></script>
	<script src="~/vendor/jquery.easing/jquery.easing.min.js"></script>
	<script src="~/vendor/jquery.cookie/jquery.cookie.min.js"></script>
	<script src="~/vendor/popper/umd/popper.min.js"></script>
	<script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="~/vendor/common/common.min.js"></script>
	<script src="~/vendor/jquery.validation/jquery.validate.min.js"></script>
	<script src="~/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
	<script src="~/vendor/jquery.gmap/jquery.gmap.min.js"></script>
	<script src="~/vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
	<script src="~/vendor/isotope/jquery.isotope.min.js"></script>
	<script src="~/vendor/owl.carousel/owl.carousel.min.js"></script>
	<script src="~/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
	<script src="~/vendor/vide/jquery.vide.min.js"></script>
	<script src="~/vendor/vivus/vivus.min.js"></script>
	@*Scripts.Render("~/VendorFooter")*@
	<script src="~/js/theme.js"></script>
	@*Scripts.Render("~/JSTheme")*@
	<script src="~/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
	<script src="~/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
	@*Scripts.Render("~/VendorRSJs")*@
	<script src="~/js/custom.js"></script>
	@*Scripts.Render("~/JSCustom")*@
	<script src="~/js/theme.init.js"></script>
	@*Scripts.Render("~/JSInit")*@
	<script src="~/js/examples/examples.portfolio.js"></script>
	@*Scripts.Render("~/JSExample")*@
	<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information.
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-12345678-1', 'auto');
		ga('send', 'pageview');
	</script>
	 -->

</body>
</html>